<app-form (descriptionEvent)="addTask($event)"></app-form>

<div class="kanban-board">
  <div class="column" *ngFor="let status of statuses">
    <h3>{{ status }}</h3>
    <div
      cdkDropList
      [cdkDropListData]="getTasks(status)"
      (cdkDropListDropped)="drop($event)"
      [id]="status"
      [cdkDropListConnectedTo]="statuses"
      class="task-container"
    >
      <app-task
        *ngFor="let task of getTasks(status)"
        [task]="task"
        (removeTaskId)="removeTask($event)"
        cdkDrag
        [cdkDragData]="task"
      >
        <div class="task-placeholder" *cdkDragPlaceholder></div>
      </app-task>
    </div>
  </div>
</div>
