<form (ngSubmit)="addTask()" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>create new task</mat-label>
    <input type="text" matInput [(ngModel)]="newTask" name="task" >
    <mat-icon matSuffix>add</mat-icon>
  </mat-form-field>
</form>

<div class="kanban-board">
  <div class="column" *ngFor="let status of statuses">
    <h3>{{ status }}</h3>
    <div
      cdkDropList
      [cdkDropListData]="getTasks(status)"
      (cdkDropListDropped)="drop($event)"
      class="task-container"
    >
      <app-task
        *ngFor="let task of getTasks(status)"
        [task]="task"
        (taskRemoved)="removeTask(task.id)"
        cdkDrag
      ></app-task>
    </div>
  </div>
</div>
