.task {
  flex: 1;
  min-height: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  padding: 25px 20px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
    0 3px 14px 2px rgba(0, 0, 0, 0.05);

  button {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &.delete {
      top: 0;
    }
    &.open {
      bottom: 0;
      .mat-icon {
        font-size: 20px;
      }
    }
  }
  &:hover {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}

@media (max-width: 600px) {
  .task {
    width: fit-content;
  }
}
